
     
    body{background-color: #255;


      submission-form {  
        border: 1px;
        padding: 5rem;
        color:white;
        margin: 1rem;
     label { display: block;
        padding: 1.5rem;
     }  
    } 
}
    



    

